.navbar {
  background-color: #699898 !important;
}

.navbar .navbar-brand {
  color: #E3EAEA;
}

.page-footer {
  background-color: #699898 !important;
}

.page-footer .footer-copyright {
  color: #E3EAEA !important;
}

