.navbar {
  background-color: #5696F2 !important;
}

.navbar .navbar-brand {
  color: #F2F2F2;
}

.page-footer {
  background-color: #5696F2 !important;
}

.page-footer .footer-copyright {
  color: #F2F2F2 !important;
}

